@import "fonts";
@import "colors";
@import "button";

* {
 font-family: 'Work Sans', sans-serif;
 list-style: none;
 text-decoration: none;
 transition: 0.3s ease-in-out all;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1344px;
}

.section-margin {
    margin-top: 180px;
}

.label-section {
    font-weight: map-get($font-weights, medium);
    font-size: 25px;
    color: $hitam;
}

.heading-section {
    font-weight: map-get($font-weights, medium);
    font-size: 40px;
    color: $hitam;

    @include media-breakpoint-down(md) {
        font-size: 30px;
    }
}

.subheading-section {
    font-weight: map-get($font-weights, light);
    font-size: 18px;
    color: $hitam;

    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
}

// HOME CSS 
.home {
    background-color: $second-color;
    padding-top: 180px;
    height: 100vh;

    .heading-home {
        font-size: 46px;
        font-weight: map-get($font-weights, bold);
        color: $hitam;

        .prop {
            color: $first-color;
        }
        .kre {
            color: $button-color;
        }

        @include media-breakpoint-between(md,lg){
            font-size: 36px;
        }
        
        @include media-breakpoint-between(sm, lg){
            font-size: 32px;
        }
        
    }
    .subheading-home {
        font-size: 20px;
        font-weight: map-get($font-weights, light);
        color: $hitam;

        @include media-breakpoint-between(md,lg){
            font-size: 16px;
        }
    }
    .btn-home {
        margin-top: 125px;

        @include media-breakpoint-between(md, lg){
            margin-top: 100px;
        }

    }
    .img-home{
        @include media-breakpoint-between(md, lg){
            margin-width: 620px;
            max-height: 500px;
        }
    }

}

.category {
    i {
        font-size: 50px;
        color: $first-color;
    }

    .card {
        border: 2px solid $first-color;

        &:hover{
            background-color: $first-color  ;
        
            .category-name, 
            .class {
                color: #fff;
            }
        }

        .category-name {
            font-size: 20px;
            color: $first-color;
        }
        
        .class{
            color: $first-color;
        }
    }
}

.product {
    i {
        font-size: 50px;
        color: $first-color;
    }
    .card {
        border: none;

        &:hover {
            img{
                transform: scale(1.1);
            }
        }

        .img-box {
            max-width: 435px;
            max-height: 290px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            .bg-img {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.17%, #000000 100%);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .info {
                    position: absolute;
                    bottom: 20px;
                }
                
                .member {
                    font-weight: map-get($font-weights , medium);
                    color: #fff;
                }   

                i {
                    font-size: 30px;
                    color: rgb(255, 255, 2);
                }
            }
                
        }

        .product-caption {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 200px;

            .product-name {
                font-size: 20px;
                font-weight: map-get($font-weights, medium);
            }
            .badge {
                color: black;
                background: rgba(255, 188, 128, 0.4);
                border-radius: 5px;
            }
            .price {
                color: $first-color;
                font-size: 25px;
                font-weight: map-get($font-weights, bold);

            }
        }
            
    }
    
}

// ABOUT CSS 

.about {
    .img-box {
        max-width: 550px;
    }
}

// TESTI CSS 

.testi {
    background: rgba(247, 110, 17, 0.1);

    .card {
        border: none;
        background-color: $first-color;
        color: #fff;

        .rate {
            i{
                font-size: 30px;
                color: yellow;
            }
        }
    }
}

// FOOTER CSS 
.footer {
    background: rgba(247, 110, 17, 0.8);
    border-radius: 50px 50px 0px 0px;
    padding: 60px 0px;

    .sosmed {
        font-size: 50px;
    }

    h3 {
        font-size: 20px;
        color: #ECE7B4;
        font-weight: map-get($font-weights,bold );
    }

    ul {
        padding: 0;
        margin-top: 20px;

        li {
            margin: 20px 0;
        }
    }
}

