.navbar {
    padding: 35px 0px;

    @include media-breakpoint-down(sm){
        padding: 25px 0;
    }

    &.active {
        background: #fef8e7;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.07);
        padding: 20px 0;
    }

    .nav-link {
        margin-right: 50px;
        font-weight: map-get($font-weights, medium);
        color: $hitam !important;

        &.active {
            font-weight: map-get($font-weights ,bold);
            color: $first-color !important;
        }
    }

    .btn-masuk {
        color: $hitam !important;
    }
}
     